# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# decompiled class files
/decompiled-src

# icon local junction
/src/main/resources/assets/extendedhotbar/icon.png
